.margin10
{
	margin:10px;
}

#table-euclidean .success
{
	font-weight: bold;
}

.map-grid-container
{
	height: 500px;
	width: 1000px;
	position: relative;
}

.knn-grid
{
	background-image: url("../img/grid.png");
}

.knn-map
{
	background-image: url("../img/map.png");	
}

#btn-controls{
top: 10px;
right: 10px;
z-index: 100;
position: absolute;
}

.point
{
	width: 24px;
	height: 24px;
	z-index: 99;
	position: absolute;
}

#point
{
	background-image: url("../img/point1_24.png");	
}

#point2
{
	background-image: url("../img/point2_24.png");	
}

#log-window
{
	width: 280px;
	top:40px;
	right: 10px;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	position: absolute;
	border: solid 1px #000000;
	padding: 10px;
	color: #fff;
	font-family: courier;
	z-index: 100;
}

.btn-group .dropdown-menu  li
{
	margin-left: 10px;
}